<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flexbox demo1 ---home</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <header class="app-header">
    this is home layout  header
  </header>
  <div class="siderbar">
    this is sidebar
  </div>
  <div class="content">
    <%= contents %>
  </div>
  <footer class="app-footer">
    this is footer
  </footer>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
